/* padding
4つ値を指定する場合は上 右 下 左の時計回りの順
3つ値を指定する場合は上 左右 下の順
2つ値を指定する場合は上下 左右の順
1つだけ指定する場合は上下左右を一括で指定
*/

@charset "UTF-8";

/* >>>>> 基本 >>>>> */
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #F3EDF7;
}
/* モバイルPC共通 */
.container {
  width: 95%;
  margin: 0 auto;
  background-color: #F3EDF7;
  font-size: 14px;
  /* background-color: #FFFFFF; */
}
@media (min-width: 900px) {
  /* PC */
  .container {
    /* width: 95%; */
  }
}
/* <<<<< 基本 <<<<< */

/* >>>>> リセット・ノーマライズ・サニタイズ >>>>> */
body, h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
/* 非表示にするクラス */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* <<<<< リセット・ノーマライズ・サニタイズ <<<<< */

/* >>>>> コンテナベース >>>>> */
.container-base {
  border-radius:10px;
  margin: 0px 0px 5px 0px;
  /* background-color: #999; */
  /* text-align: left; */
}
/* メニューアイコン */
.container-base > .container-menu {
  float: right;
  color: #8e8e8e;
}
/* <<<<< コンテナベース <<<<< */

/* >>>>> ヘッダー：患者情報 >>>>> */

/* モバイルPC共通 */
.header .container {
  display: flex;
  align-items: center;
}
@media (min-width: 900px) {
  /* PC */
  .header .container {
    height: 100px;
    margin-top: 10px;
  }
}

/* モバイルPC共通 */
.pinfo {
  display: flex;
  align-items: center;
}
.pinfo img {
  width: 42px;
  vertical-align: middle;
  align-items: center;
}
.pinfo .kanjaname {
  font-size: 25px;
  font-weight: 900;
  line-height: 1.4;
  max-width: 200px;
}
.pinfo .kana{
  font-size: 12px;
  line-height: 1.4;
}
.pinfo .shintai{
  font-size: 10px;
  line-height: 1.4;
}
.pinfo .kanja-id{
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
}
@media (min-width: 900px) {
  /* PC */
  .pinfo img {
    width: 60px;
  }
  .pinfo .kanjaname {
    font-size: 30px;
  }
  .pinfo .kana{
    font-size: 14px;
  }
  .pinfo .shintai{
    font-size: 12px;
  }
}

/* <<<<< ヘッダー：患者情報 <<<<< */

/* >>>>> ハンバーガーメニュー >>>>> */
/* ナビゲーションボタン */
.nav-button {
  box-sizing: content-box;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  color: #2E5180;
}

.nav-button::before,
.nav-button::after {
  content: '';
  display: block;
  height: 2px;
  background-color: currentColor;
  transform: translateY(5px);
  transition: 0.3s ease-in-out; /*アニメーション変形*/
}

.nav-button::before {
  transform: translateY(-5px);
  box-shadow: 0 6px currentColor;
}

.openMenu .nav-button {
  z-index: 1000;
  /* color: #ffffff; */
}
.openMenu .nav-button::before {
  transform: translateY(1px) rotate(45deg);
  box-shadow: none;
}
.openMenu .nav-button::after {
  transform: translateY(-1px) rotate(-45deg);
}
/* <<<<< ハンバーガーメニュー <<<<< */

/* >>>>> ナビゲーションメニュー：PC >>>>> */
@media (min-width: 900px) {
  .nav-button {
    display: none;
  }

}
/* <<<<< ナビゲーションメニュー：PC <<<<< */


/* >>>>> カルテメイン画面 >>>>> */
.kartemain {
  text-align: center;
}
@media (min-width: 900px) {
  .kartemain {
    padding: 10px 0;
  }
}
/* <<<<< カルテメイン画面 <<<<< */

/* >>>>> カルテメイン画面の詳細 >>>>> */
.details {
  margin-top: 10px;   /*サブタイトルと詳細の間隔*/
  color: #333333;
}
/* ３つの詳細の間隔 */
.detail:not(:last-child) {
  margin-bottom: 10px;
}
.detail h3 {
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 1.75;
}
.detail p {
  max-width: 264px;
  margin: 0 auto 25px;
  /* font-size: 12px; */
  line-height: 2;
}

/* メイン画面 */
.detail.sidemenu {
  /* background-color: #f8f8ff; */
  /* max-width: 200px; */
}
.detail.karte-left {
  /* background-color: #f0f8ff; */
  margin: 0px 5px 0px;
}
.detail.karte-center {
  /* background-color: #e6e6fa; */
  margin: 0px 5px 0px;
}
.detail.karte-right {
  /* background-color: #b0c4de; */
  margin: 0px 5px 0px;
}

/* サイドメニュー */
.sidemenu ul {
  display: flex;      /*リンク横並び*/
  list-style: none;
  font-weight: bold;
  text-align: center;
}
.sidemenu ul:not(:last-child) {
  margin-bottom: 1px;
}
/* PC版では３つ横に並べる */
@media (min-width: 900px) {
  .details {
    display: flex;    /*details内を横並びにする*/
    margin-top: 10px;
  }
  .detail {
    flex: 1;          /* 等分表示 */
    margin-right: 0.1%;
  }
  .detail:first-child {
    margin-left: 0.1%;
  }
  .detail:not(:last-child) {
    margin-bottom: 0;
  }

  /* メイン画面 */
  .detail.sidemenu {
    max-width: 230px;
  }
}
/* <<<<< カルテメイン画面の詳細 <<<<< */

/* >>>>> ボタン >>>>> */
/* 小ボタン */
.button-small {
  /* color: #8e8e8e; */
  /* font-size: 12px; */
  padding: 5px;
  /* margin: 5px 5px; */
  height: 15px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 15px;
  display: inline-block;
  border-color: #6750a4;
  border-style: solid;
  border-width: 1px;
}
.button-small:hover,
.button-smallmid:focus {
  background-color: #eaddff;
	color: #6750a4;
}

/* 中ボタン */
.button-middle {
  /* color: #8e8e8e; */
  /* font-size: 14px; */
  padding: 10px 15px;
  /* margin: 5px 5px; */
  /* height: 18px; */
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 35px;
  display: inline-block;
  border-color: #6750a4;
  border-style: solid;
  border-width: 1px;
}
.button-middle:hover,
.button-middle:focus {
  background-color: #eaddff;
	color: #6750a4;
}

/* オーダーボタン */
.order-button {
  display: block;
  /* width: 150px; */
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 24px;
  color: #2E5180;
  /* font-size: 14px; */
  /* font-weight: bold; */
  background-color: #F3EDF7;
  text-align: left;
}
.order-button:hover,
.order-button:focus {
  background-color: #eaddff;
	color: #6750a4;
}

/* オーダーボタンアクティブ */
.order-button-active {
  display: block;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #eaddff;
  color: #6750a4;
  /* font-size: 14px; */
  font-weight: bold;
  text-align: left;
}
/* オーダーボタンアイコン */
.order-button-icon {
  margin: -3px 0px 0px 0px;
  float: left;
  /* background-color: #bcbcbc; */
  color: #8e8e8e;
  padding: 4px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
/* オーダーボタンバッジ */
.order-button-badge {
  margin: -2px 0px 0px 0px;
  float: right;
  background-color: #bcbcbc;
  color: #fff;
  padding: 4px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
}
/* <<<<< ボタン <<<<< */

/* >>>>> コンテナボックス >>>>> */
/* テキストボックスライクなラベル */
.container-box {
  border-radius:10px;
  margin: 0px 0px 5px 0px;
  padding: 5px 5px 5px 10px;
  background:#fff;
  height: 20px;
  width: 150px;
  text-align: left;
}
.container-box-wide {
  border-radius:10px;
  margin: 0px 0px 5px 0px;
  padding: 5px 5px 5px 10px;
  background:#fff;
  height: 20px;
  width: 180px;
  text-align: left;
}
/* コンテナボックスメニューアイコン */
.container-box-icon {
  margin: -4px 0px 0px 0px;
  float: right;
}
/* <<<<< コンテナボックス <<<<< */

/* >>>>> オーダボタンサイドメニュー：モバイル >>>>> */
@media (max-width: 899px) {
  html.openMenu , .openMenu body {
    height: 100%;
    overflow: hidden;
  }
  .openMenu .form {
    display: none;
  }
  .openMenu .sidemenu{
    left: 0;
  }
  .header {
    position: relative;
  }
  .sidemenu { /*, .kanja-select {*/
    /* display: none; */

    /* position: absolute; */
    position: fixed;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    transition: left 0.5s;
  }

  .kanja-select, .hakkou-section, .kanja-info-icon, .user-info {
    display: none;

  }

  html, body {
    overflow-x: hidden;
  }

}
/* <<<<< オーダボタンサイドメニュー：モバイル <<<<< */

/* >>>>> アイコン >>>>> */
/* 動作がある中アイコン */
.icon-small {
  color: #8e8e8e;
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.icon-small-active {
  background-color: #eaddff;
  color: #6750a4;
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.icon-small:hover,
.icon-small:focus {
  background-color: #eaddff;
	color: #6750a4;
}

.icon-mid {
  color: #8e8e8e;
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.icon-mid-active {
  background-color: #eaddff;
  color: #6750a4;
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.icon-mid:hover,
.icon-mid:focus {
  background-color: #eaddff;
	color: #6750a4;
}
/* 動作がない中アイコン */
.icon-mid-nomal {
  color: #8e8e8e;
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/* 動作がある中アイコン（グレー） */
.icon-mid-gray {
  background-color: #bcbcbc;
  color: #fff;
  padding: 4px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.icon-mid-gray:hover,
.icon-mid-gray:focus {
  background-color: #eaddff;
	color: #6750a4;
}

/* 患者情報アイコン非活性 */
.icon-pinfo {
  background-color: #f3f3f3;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  min-width: 30px;
  height: 30px;
}
/* 患者情報アイコン活性 */
.icon-pinfo-active {
  background-color: #eaddff;
  color: #6750a4;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
/* <<<<< アイコン <<<<< */

/* >>>>>>>>>>>>>>>>>>>> 指示歴ナビリンク >>>>>>>>>>>>>>>>>>>> */
.shiji-reki-nav{
	margin: 0;
	padding: 0;
  display: flex;
  list-style: none;
  margin: 0px 0px 1px 0px;
}
.shiji-reki-nav ul {
	margin: 0;
	padding: 0;
}
.shiji-reki-nav li {
  padding: 0px 10px 0px;
  /* width: 100%; */
  display: flex;
  list-style: none;
}
.shiji-reki-nav li:not(:last-child){
  border-right:2px solid #ddd;  /* 区切り線 */
}
.shiji-reki-nav li > .shiji-reki-nav-active {
  color: #6750a4;
  text-decoration: underline;
  font-weight: bold;
}
.shiji-reki-nav a {
	color: #8e8e8e;
	text-decoration: none;
	/* font-size: 14px; */
}
.shiji-reki-nav a:hover,
.shiji-reki-nav a:focus {
	color: #6750a4;
  font-weight: bold;
}

/* レスポンシブ対応 */
@media (min-width:900px){
    .shiji-reki-nav{
        flex-wrap: wrap;
    }
    .shiji-reki-nav li{
        /* width: 50%; */
    }
}
/* <<<<<<<<<<<<<<<<<<<< 指示歴ナビリンク <<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>>>> カード >>>>>>>>>>>>>>>>>>>> */
/* 指示歴日付部 */
.card-date-title {
  border-radius:10px;
  margin: 0px 0px 5px 0px;
  /* font-size: 14px; */
  padding: 10px 10px 10px 20px;
  background:#fffbfe;
  /* height: 20px; */
  text-align: left;
}
/* 指示歴タイトル部メニューアイコン */
.card-date-title>.card-date-title-menu {
  margin: -4px 0px 0px 0px;
  float: right;
}

/* 指示歴ベース */
.card-nomal {
  background:#fff;
  border-radius:10px;
  margin: 0px 0px 5px 0px;
  /* font-size: 14px; */
  padding: 10px;
  text-align: left;
}
/* 指示歴タイトル部 */
.card-heading>.card-title {
  padding-top: 0px;
}
/* 指示歴タイトル部メニューアイコン */
.card-heading>.card-title>.card-menu {
  float: right;
}
/* 指示歴タイトル部日付 */
.card-heading>.card-date {
  padding: 0px 0px 0px 14px;
  font-weight: bold;
  color: #6750a4;
  text-align: left;
}
/* 指示歴内容部 */
.card-body {
  padding: 5px 0px 0px 14px;
}
/* 指示歴内容部 */
.card-body-record {
  padding: 5px 5px 0px 14px;
  background-color: #fffbfe;
}
/* 指示歴詳細部 */
.card-detail {
  padding: 5px 0px 0px 14px;
  font-size: 11px;
}
/* <<<<<<<<<<<<<<<<<<<< カード <<<<<<<<<<<<<<<<<<<< */

/* >>>>> フェードイン >>>>> */
body {
  animation: fade 1s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* <<<<< フェードイン <<<<< */

/* >>>>> フォーム >>>>> */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 35px;
  border: none;
  border: solid 0.5px #6750a4;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  /* width: 100%; */
  height:35px;
}

  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  input[type="tel"]:invalid,
  input[type="search"]:invalid,
  input[type="url"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="search"]:focus,
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    border-color: #6750a4;
    box-shadow: 0 0 0 0.5px #6750a4;
  }
/* <<<<< フォーム <<<<< */

/* テーブルレイアウト確認用 */
table{
  /* border:1px solid #ddd;
  border-collapse: collapse; */
  white-space: nowrap;
  style=”border:none;”
}

th{
  /* background:lightblue; */
  /* border:1px solid #666; */
  padding:0px;
  text-align:center;
  font-weight: normal;
}

td{
  /* background:pink; */
  /* border:1px solid #666; */
  padding:0px;
}
